body{text-align:right;
    direction:rtl;
}

*,.sec-title{
        font-family: 'Cairo', sans-serif;

}

.has_seudo:before,
.vedio-icon,
.has_seudo:after,
.sec-title:after,
.show-list li:before {
    right: 0
}

.social-div {
    left: 0
}

.sec-title {
    padding-right: 20px;
}

.text-left-dir {
    text-align: right;
}

.slider-caption p,
.text-right-dir {
    text-align: left;
}



.slider-caption {
    direction: rtl;
}

.main-search .form-group {
    margin-right: auto;
    margin-left: 0;
}

.main-search .form-group .form-control {
    padding-left: 50px;
}

.pos-search-btn {
    left: 0;
    border-radius:  10px 0 0 10px ;
}

i {
    margin-left: 5px;
}

.main-language {
    margin-left: 40px
}

.language-title:after {
    margin-right: 3px;
}


.about-text {
    padding-right: 15px;
}


.news-caption {
    padding: 0 50px 0 30px;
}

.news-caption:before {
    right: 30px;
}


.subscribe-form .form-control {
    padding-left: 100px;
}



.subscribe-form .pos-search-btn {
    border-radius: 5px 0 0 5px ;
}

.subscribe-form .form-group {
    margin-right: 0;
}


.contact-grid {
    padding-left: 40px;
}

.main-form-icon {
    right: 15px;
}

.icons-form .form-control {
    padding-right: 40px;
}


.icons-form .form-control:focus {
    padding-right: 10px;
}

.contact-social-grid {
    border-radius: 20px 0 0 20px;
}

.contact-social li a i {
    right: -5px;
}

.contact-social li a:hover i {
    text-align: right;
}


#CaptchaImageCode {
    margin-left: 30px;
}

.show-list li {
    padding-right: 20px;
}

.inline-social li a {
    margin-left: 10px;

}

.time-details-list li {
    margin-left: 20px;
}

.time-details-list li:last-of-type {
    margin-left: 0;
}

.latest-news {
    margin-left: 0;
    margin-right: auto;
}

.custom-file label span {
    right: 30px
}

.custom-file label {
    padding-right: 133px !important;
}

.slider-caption p {
    font-size: 16px;
    text-align: right;
}

.custom-control-label::after,.custom-control-label::before {
    right: -1.5rem;
    left:auto;
}

.custom-control {
    padding-left: 0;
    padding-right:1.5rem;
}
nav ul.list-inline>li>a {
    font-size: 20px;
}

.sec-title span {
    font-size: 40px;
}
.sec-title:before{
        font-size: 17px;

}

.custom-btn {
    font-size: 19px;
}
@media only screen and (max-width: 768px) {

    .about-text {
        padding-right: 0;
    }


    .news-caption {
        padding: 0 15px 0 30px;
    }

    .news-caption:before {
        right: 15px;
    }

}

@media only screen and (max-width: 576px) {
    .logo-grid {
        text-align: left;
    }

    .menu-icon {
        margin-left: 10px;
    }

    nav ul {
        left: 0;
    }

    nav {
        left: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);

    }

    .social-div {
        left: 10px;
    }

    .contact-grid {
        padding-left: 60px;
    }

    .main-language ul {
        left: -10px;
    }
}