.has_seudo:before,
.vedio-icon,
.has_seudo:after,
.sec-title:after,
.show-list li:before {
    left: 0
}

.social-div {
    right: 0
}

.sec-title {
    padding-left: 20px;
}

.text-right-dir {
    text-align: right;
}

.slider-caption p,
.text-left-dir {
    text-align: left;
}

nav li::first-letter,
.form-control::first-letter {
    text-transform: uppercase;
}

.custom-btn,
.sec-title,
.news-caption h3,
.footer-title {
    text-transform: capitalize;
}

.slider-caption {
    direction: ltr;
}

.main-search .form-group {
    margin-left: auto;
    margin-right: 0;
}

.main-search .form-group .form-control {
    padding-right: 50px;
}

.pos-search-btn {
    right: 0;
    border-radius: 0 10px 10px 0;
}

i {
    margin-right: 5px;
}

.main-language {
    margin-right: 40px
}

.language-title:after {
    margin-left: 3px;
}


.about-text {
    padding-left: 15px;
}


.news-caption {
    padding: 0 30px 0 50px;
}

.news-caption:before {
    left: 30px;
}


.subscribe-form .form-control {
    padding-right: 100px;
}



.subscribe-form .pos-search-btn {
    border-radius: 0 5px 5px 0;
}

.subscribe-form .form-group {
    margin-left: 0;
}


.contact-grid {
    padding-right: 40px;
}

.main-form-icon {
    left: 15px;
}

.icons-form .form-control {
    padding-left: 40px;
}


.icons-form .form-control:focus {
    padding-left: 10px;
}

.contact-social-grid {
    border-radius: 0 20px 20px 0;
}

.contact-social li a i {
    left: -5px;
}

.contact-social li a:hover i {
    text-align: left;
}


#CaptchaImageCode {
    margin-right: 30px;
}

.show-list li {
    padding-left: 20px;
}

.inline-social li a {
    margin-right: 10px;

}

.time-details-list li {
    margin-right: 20px;
}

.time-details-list li:last-of-type {
    margin-right: 0;
}

.latest-news {
    margin-right: 0;
    margin-left: auto;
}

.custom-file label span {
    left: 30px
}

.custom-file label {
    padding-left: 133px !important;
}

.slider-caption p {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {

    .about-text {
        padding-left: 0;
    }


    .news-caption {
        padding: 0 15px 0 30px;
    }

    .news-caption:before {
        left: 15px;
    }

}

@media only screen and (max-width: 576px) {
    .logo-grid {
        text-align: right;
    }

    .menu-icon {
        margin-right: 10px;
    }

    nav ul {
        right: 0;
    }

    nav {
        right: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);

    }

    .social-div {
        right: 10px;
    }

    .contact-grid {
        padding-right: 60px;
    }

    .main-language ul {
        right: -10px;
    }
}