/*start footer*/
footer {
    margin-top: 20px;
    padding-top: 40px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img {
    margin-bottom: 25px;
}

.footer-logo p {
    max-width: 275px;
}

.footer-title {
    font-size: 24px;
    margin-bottom: 40px;
}

.footer-list {
    margin-bottom: 20px;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-list li a {
    color: #3e3e3e;
    font-size: 16px;
    color: #131313;
}


.footer-list li a:hover {
    transition-duration: .3s;
    color: #e41f28;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.subscribe-form .form-control {
    border-radius: 5px;
}

.subscribe-form .form-group {
    max-width: 310px;
    margin: 30px auto;
}

.subscribe-form .pos-search-btn {
    background: #e41f28;
    width: 100px;
    color: #fff;
    text-align: center;
    font-size: 15px;

}

.subscribe-form .form-control:focus~.pos-search-btn {
    background: #333;
    color: #fff
}

.subscribe-form .form-control:focus {
    border-color: #333
}

.social-div {
    position: absolute;
    bottom: 40px;
    width: 35px;
    text-align: center;
}

.social-div li {
    margin-top: 7px;
}

.social-div li a {
    font-size: 25px;
    position: relative;
    display: block;
    z-index: 1;
    height: 35px;
    line-height: 37px
}

.fc-icon {
    color: #3b5998
}

.inst-icon {
    color: #7210a3
}

.snap-icon {
    color: #e2d507
}

.yotube-icon {
    color: #d8362a
}

.tw-icon {
    color: #26a6d1
}

.social-div li a:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;


}

.social-div li a:hover:before {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;

}

.social-div li a:hover {
    color: #fff;
    font-size: 18px;
}

a.fc-icon:before {
    background: #3b5998
}

a.inst-icon:before {
    background: linear-gradient(190deg, #7210a3, #fae301)
}

a.snap-icon:before {
    background: #e2d507
}

a.yotube-icon:before {
    background: #d8362a
}

a.tw-icon:before {
    background: #26a6d1
}


.copyrights{
    border-top: 1px solid #f9c9cc;
    padding-top: 10px;
    color:#333
}


.copyrights > div{
    padding-bottom: 10px;
}

.copyrights a{
    color:#333;
}
.copyrights a:hover{
    color:orangered
}
/*end footer*/