/*start gerneral styles*/

@import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700&display=swap&subset=arabic');

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}




body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
}

::selection {
    background-color: #f1f1f1;
    color: #da353b;
}


a,
button {
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

label {
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    color: #555;
}

a:focus,
button:focus,
button:active,
select:focus,
input:focus {
    outline: 0 none;
}

p {
    color: #999;
    font-size: 16px;
    line-height: 26px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal
}

.no-full-images .owl-item img {
    width: auto
}

ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
}

.list-inline li {
    display: inline-block;
}

.list-unstyled li {
    display: block;
}

img,
object {
    max-width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}


.html5-title,
#html5-watermark {
    display: none !important
}


input,
button {
    font-family: 'Cairo', sans-serif;
}

select.form-control:not([size]):not([multiple]) {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0
}

.form-control,
.file-upload2 .file-select {
    background-color: #fff;
    box-shadow: none;
    height: 40px;
    width: 100%;
    color: #888;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Cairo', sans-serif;
    border: 1px solid #ebebeb;
    border-radius: 0;
    font-size: 14px;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
    background-color: #f7f7f7;
    color: #333;
    border-color: #0d3a5d
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
}


.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
}

textarea.form-control {
    min-height: 150px;
    padding-top: 15px;
}



.no-marg-row {
    padding: 0;
    margin: 0
}

.starrisk {
    color: red;
    margin-right: 5px;
}

.invalid-feedback {
    margin-top: 10px;
    font-size: 13px;
}

a,
button,
.owl-nav button,
.nav-icon span,
.nav-icon span:before,
.nav-icon span:after,
img,
.close-btn,
.has_seudo:before,
.has_seudo:after,
.form-control,.ReloadBtn span {
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

h1,
h2,
h3,
h4,
.custom-btn,.team-div {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}


.submenu li,
.contact-social li a:before,
.contact-social li a i,
.submenu,
.social-div li a:before,
.vedio-icon,
.main-form-icon,
.news-img .btn-div,
.news-caption:after {
    -webkit-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none
}

.custom-control-input:active~.custom-control-label::before,
.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: transparent;
    border-color: transparent
}


.gray-bg {
    background: #f3f3f3
}

.margin-div {
    padding-top: 50px;
    padding-bottom: 50px;

}

.margin-bottom-div {
    padding-bottom: 50px;
}

.margin-index-div {
    padding-top: 50px;
    padding-bottom: 76px;
}

.margin-top-div {
    padding-top: 50px
}

.dark-text {
    color: #3e3e3e
}

.white-text {
    color: #fff
}

.auto-icon i {
    margin: auto;
}


.full-width-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;

}

.converted-img {
    display: none !important
}

.has_seudo {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.has_seudo:before,
.has_seudo:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;

}

.has_static_seudo:before,
.has_static_seudo:after {
    content: "";

}

.text-dir-center {
    text-align: center;
}

.first_color {
    color: #e41f28
}

.first_bg {
    background-color: #e41f28
}




#hirozintal-scroll {
    overflow-x: hidden;
    overflow-y: auto
}


#hirozintal-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;

}



.custom-btn {
    position: relative;
    min-width: 125px;
    line-height: 50px;
    color: #FFF;
    padding: 0px 20px;
    text-align: center;
    font-size: 22px;
    height: 50px;
    border: none;
    font-family: 'Cairo', sans-serif;
    z-index: 1;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    background: #e41f28;
}

.custom-btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 100% 100%, 0 0;
    z-index: -1;

    background-image: -webkit-linear-gradient(top left,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);
    background-image: -moz-linear-gradient(0 0,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);
    background-image: -o-linear-gradient(0 0,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);
    background-image: linear-gradient(0 0,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0.2) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%);

    -moz-background-size: 250% 250%, 100% 100%;
    background-size: 250% 250%, 100% 100%;

    -webkit-transition: background-position 0s ease;
    -moz-transition: background-position 0s ease;
    -o-transition: background-position 0s ease;
    transition: background-position 0s ease;
    opacity: 0;
}

.custom-btn:hover::before {
    opacity: .5;
    background-position: 0 0, 0 0;
    -webkit-transition-duration: .7s;
    -moz-transition-duration: 0.7s;
    transition-duration: .7s;
}


.custom-btn:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    border-radius: 100%;
    box-shadow: 2385px 44px white, 1445px 741px white, 1978px 4px white, 1477px 843px white, 1155px 29px white, 654px 379px white, 1897px 349px white, 741px 166px white, 1861px 255px white, 1455px 739px white, 470px 1055px white, 1929px 291px white, 1006px 889px white, 1980px 273px white, 1642px 747px white, 1156px 393px white, 2327px 540px white, 1269px 425px white, 464px 511px white, 365px 1090px white, 1589px 433px white, 2426px 1035px white, 250px 414px white, 1189px 252px white, 397px 52px white, 954px 198px white, 995px 857px white, 484px 677px white, 1456px 562px white, 102px 1065px white, 382px 529px white, 2237px 334px white, 708px 701px white, 1838px 1014px white, 1143px 115px white, 878px 1069px white, 1973px 660px white, 2059px 477px white, 2362px 414px white, 1042px 771px white, 127px 633px white, 2519px 165px white, 63px 643px white, 1154px 641px white, 89px 1093px white, 2326px 932px white, 456px 511px white, 1840px 648px white, 779px 456px white, 2377px 660px white, 2059px 556px white, 2423px 184px white, 2370px 774px white, 1644px 642px white, 876px 916px white, 1292px 302px white, 771px 1070px white, 163px 346px white, 57px 758px white, 733px 44px white, 1364px 71px white, 1131px 613px white, 1234px 995px white, 422px 23px white, 2308px 1043px white, 454px 582px white, 2476px 623px white, 1194px 769px white, 1052px 530px white, 726px 600px white, 2167px 8px white, 442px 23px white, 696px 618px white, 353px 692px white, 489px 311px white, 2058px 591px white, 1446px 174px white, 1107px 1009px white, 1290px 173px white, 847px 881px white, 148px 278px white, 1197px 175px white, 2264px 821px white, 1774px 1066px white, 2250px 657px white, 624px 792px white, 177px 426px white, 1463px 375px white, 2068px 963px white, 899px 364px white, 1718px 785px white, 2152px 324px white, 152px 593px white, 769px 974px white, 1210px 727px white, 319px 639px white, 2070px 714px white, 730px 952px white, 2209px 650px white, 2339px 493px white, 911px 879px white, 2379px 119px white, 223px 47px white, 519px 1034px white, 1592px 609px white, 744px 726px white, 1748px 318px white, 2272px 690px white, 613px 535px white, 2381px 698px white, 1737px 578px white, 987px 176px white, 1532px 694px white, 751px 78px white, 182px 447px white, 1088px 985px white, 1024px 680px white, 3px 993px white, 480px 340px white, 853px 659px white, 1700px 619px white, 1463px 729px white, 785px 353px white, 771px 810px white, 363px 335px white, 132px 920px white, 847px 658px white, 1475px 941px white, 2554px 37px white, 882px 212px white, 357px 284px white, 199px 691px white, 436px 401px white, 685px 985px white, 1857px 1019px white, 470px 118px white, 1062px 697px white, 2032px 927px white, 42px 410px white, 1721px 383px white, 1944px 982px white, 959px 379px white, 1364px 663px white, 1242px 560px white, 732px 170px white, 782px 197px white, 154px 33px white, 1395px 904px white, 1330px 708px white, 913px 873px white, 81px 1076px white, 1456px 784px white, 2399px 711px white, 62px 44px white, 1305px 293px white, 173px 898px white, 902px 691px white, 1217px 429px white, 2259px 321px white, 439px 329px white, 1993px 1084px white, 784px 1083px white, 1176px 388px white, 653px 100px white, 1286px 299px white, 846px 260px white, 1253px 845px white, 693px 419px white, 783px 376px white, 1433px 325px white, 1287px 447px white, 1042px 746px white, 908px 318px white, 3px 693px white, 1795px 46px white, 1343px 75px white, 836px 101px white, 2414px 341px white, 338px 916px white, 969px 763px white, 1855px 519px white, 2426px 349px white, 2332px 956px white, 113px 59px white, 2006px 58px white, 1859px 24px white, 1106px 1092px white, 470px 865px white, 1387px 224px white, 1261px 761px white, 328px 114px white, 873px 33px white, 738px 404px white, 2134px 876px white, 2152px 1016px white, 335px 195px white, 1292px 1079px white, 274px 607px white, 869px 110px white, 2076px 640px white, 1188px 666px white, 1899px 468px white, 1139px 921px white, 2249px 942px white, 1635px 448px white, 2028px 874px white, 737px 1022px white, 2052px 132px white, 1330px 877px white, 167px 443px white, 523px 661px white, 1951px 734px white, 552px 331px white, 1870px 219px white, 294px 215px white, 1383px 642px white, 729px 923px white, 1769px 693px white, 182px 321px white, 639px 85px white, 2014px 208px white, 1379px 516px white, 2273px 210px white, 2493px 533px white, 878px 585px white, 1241px 62px white, 59px 289px white, 753px 789px white, 1428px 1042px white, 2472px 479px white, 2031px 79px white, 2282px 691px white, 646px 483px white, 1054px 1007px white, 1156px 966px white, 810px 577px white, 2202px 926px white, 539px 949px white, 1045px 984px white, 1489px 82px white, 2041px 711px white, 1102px 552px white, 37px 565px white, 205px 833px white, 2344px 754px white, 2027px 227px white, 1010px 217px white, 1142px 867px white, 2446px 530px white, 744px 340px white, 1698px 1062px white, 1796px 1066px white, 491px 1077px white, 1343px 328px white, 1176px 1006px white, 1593px 387px white, 1249px 369px white, 1369px 511px white, 685px 742px white, 555px 709px white, 1235px 620px white, 259px 609px white, 1361px 252px white, 46px 803px white, 2514px 97px white, 1636px 696px white, 2478px 78px white, 131px 466px white, 2153px 580px white, 351px 721px white, 1209px 257px white, 2333px 577px white, 2411px 28px white, 733px 131px white, 434px 361px white, 2149px 139px white, 485px 977px white, 796px 903px white, 254px 27px white, 2286px 572px white, 353px 52px white, 2047px 140px white, 1278px 1022px white, 308px 1091px white, 788px 127px white, 984px 389px white, 147px 721px white, 1963px 95px white, 837px 393px white, 886px 1037px white, 1854px 629px white, 1348px 206px white, 1235px 1036px white, 1867px 349px white, 2052px 6px white, 1405px 741px white, 1414px 987px white, 1266px 145px white, 504px 745px white, 1758px 461px white, 469px 891px white, 1745px 750px white, 1488px 309px white, 933px 619px white, 942px 52px white, 11px 742px white, 2525px 94px white, 1332px 962px white, 402px 886px white, 233px 421px white, 1079px 319px white, 14px 531px white, 1212px 964px white, 1792px 387px white, 2130px 306px white, 414px 541px white, 211px 527px white, 986px 372px white, 2485px 411px white, 566px 894px white, 2213px 605px white, 580px 124px white, 1153px 335px white, 1190px 39px white, 1328px 770px white, 161px 624px white, 311px 218px white, 2483px 41px white, 2469px 209px white, 2265px 583px white, 862px 1014px white, 1211px 439px white, 2272px 834px white, 1226px 58px white, 543px 259px white, 1944px 1068px white, 239px 294px white, 999px 485px white, 1015px 687px white, 960px 449px white, 2156px 861px white, 150px 96px white, 443px 356px white, 7px 1051px white, 2117px 401px white, 2499px 121px white, 2507px 729px white, 1138px 50px white, 2249px 1096px white, 1139px 632px white;
    animation: animStar 30s linear;
    -webkit-animation: animStar 30s linear;
}

.custom-btn:hover:after {
    opacity: 1;
}

.custom-btn:hover {
    transition-delay: .1s;
    background: #000;
    color: #fff
}

.sm-btn {
    min-width: inherit;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
}

.full-width-btn {
    min-width: inherit;
    display: block;
    width: 100%
}

.sec-title {
    font-size: 24px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    display: block;
}



.sec-title:before {
    content: attr(data-hover);
    position: absolute;
    top: calc(-100% + 10px);
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);

    background: linear-gradient(to left, #e41f28 20%, #000 40%, #000 60%, #e41f28 80%);
    background-size: 200% auto;
    color: #e0e0e0;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s linear;
    color: #000
}


.sec-title:after {
    content: "";
    position: absolute;
    height: 44px;
    width: 5px;
    background: #000;
    bottom: 6px
}

.sec-title span {
    position: absolute;
    top: calc(-100% - 30px);
    display: block;
    font-size: 50px;
    background: linear-gradient(to left, #e41f28 20%, #e0e0e0 40%, #e0e0e0 60%, #e41f28 80%);
    background-size: 200% auto;
    color: #e0e0e0;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 5s linear infinite;
    animation: shine 5s linear infinite;
    transition: all .3s linear;
}


.sec-title:hover span {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}


.sec-title:hover:before {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -webkit-animation: shine 1s linear infinite;
    animation: shine 1s linear infinite;
}

.sec-title:hover {
    color: #000
}


/*end general styles*/