/*start header*/
header {
    padding: 15px 0;
    margin-bottom: 30px;
}

header .container {
    position: relative;

}

header .container::before,
header .container::after {
    content: "";
    position: absolute;
    bottom: 32px;
    height: 1px;
    background: #e41f28;
    width: 50%
}

header .container::after {
    left: 15px;
}

header .container::before {
    right: 15px;
}

.logo-grid {
    position: relative;
    z-index: 1;
    background: #fff
}

.main-search .form-group {
    max-width: 300px;
    margin: 10px auto;
}

.red-form .form-control {
    border-color: #f4a5a9;
}

.pos-search-btn {
    position: absolute;
    top: 0;
    background: none;
    border: none;
    font-size: 16px;
    height: 40px;
    width: 40px;
}

.red-form .form-control:focus~.pos-search-btn {
    background: #e41f28;
    color: #fff
}

.main-phone {
    display: inline-block;
}

.main-phone a {
    color: #3e3e3e;
    font-size: 16px;
}

.main-phone a:hover {
    color: #e41f28
}

.main-language {
    display: inline-block;
    position: relative;
    z-index: 9;
}

.language-title {
    cursor: pointer;
}

.language-title:after {
    color: #e41f28;
    display: inline-block;
    content: "\f0d7";
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    font-weight: 600;
}

.main-language ul {
    position: absolute;
    width: 70px;
    background: #e41f28;
    border-radius: 5px;
    display: none;
}

.main-language ul li {
    padding: 5px 10px;
    border-bottom: 1px solid #db151e;
}

.main-language ul li:last-of-type {
    border-bottom: none
}


.main-language ul li a {
    color: #fff
}

.main-language-grid {
    padding-top: 20px;
}

.navbar-section {
    position: relative;
    z-index: 99;
    padding: 0;
}

nav ul.list-inline>li {
    position: relative;
    height: 70px;

}

nav ul.list-inline>li>a {
    color: #e41f28;
    font-size: 24px;
    font-weight: 500;
    padding: 0 25px;
    position: relative;
    display: block;
    line-height: 60px;

}

nav ul.list-inline>li.active>a {
    color: #000
}

nav ul.list-inline>li>a:hover {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #ccc, 0 0 8px #ccc, 0 0 10px #ccc, 0 0 12px #ccc, 0 0 14px #ccc;
    -webkit-animation: glow .59s infinite alternate;
    animation: glow .59s infinite alternate;
    color: #ccc;

}


/* btn */
.menu-icon {
    position: relative;
    width: 30px;
    height: 30px;
    display: none;
    vertical-align: middle;
}

.menu-icon span {
    margin: 0 auto;
    position: relative;
    top: 12px;
}

.menu-icon span:before,
.menu-icon span:after {
    position: absolute;
    content: '';
}

.menu-icon span,
.menu-icon span:before,
.menu-icon span:after {
    width: 30px;
    height: 4px;
    background-color: #000;
    display: block;
}

.menu-icon span:before {
    margin-top: -8px;
}

.menu-icon span:after {
    margin-top: 8px;
}

.menu-icon span {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.menu-icon.active span {
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.menu-icon span:before {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.menu-icon.active span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

.menu-icon span:after {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.menu-icon.active span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

.responsive-logo {
    display: none;
    margin: 15px auto 20px;
}

.responsive-logo img {
    max-height: 75px;
}

nav.active .responsive-logo {
    -webkit-animation: fadeIn .5s linear both .1s;
    animation: fadeIn .5s linear both .1s;

}

.submenu {
    position: absolute;
    top: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    perspective: 500px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
    visibility: hidden;
    min-width: 160px;
    width: 100%
}


.submenu li {
    background: #fff;
    -webkit-transform: translateY(10px) rotateX(80deg);
    transform: translateY(10px) rotateX(80deg);
}

nav>ul>li:hover .submenu li {
    margin-bottom: 0;
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);

}

nav>ul>li:hover>a~.submenu {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}




.submenu li a {
    display: block;
    color: #333;
    font-size: 16px;
    padding: 10px;
    line-height: inherit;
    height: auto;
    border: 1px solid #e41f28;
    border-bottom: none;
}

.submenu li:last-of-type a {
    border-bottom: 1px solid #e41f28
}


.submenu li a:hover {
    background: #e41f28;
    color: #fff
}


.main-stars {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
}

.responsive-nav-menu {
    display: none;
}

nav.active .responsive-nav-menu li {
    -webkit-animation: fadeInUp .5s linear both;
    animation: fadeInUp .5s linear both;
}

nav.active .responsive-nav-menu li:nth-of-type(1) {
    animation-delay: .7s;
}

nav.active .responsive-nav-menu li:nth-of-type(2) {
    animation-delay: .8s;
}

nav.active .responsive-nav-menu li:nth-of-type(3) {
    animation-delay: .9s;
}

nav.active .responsive-nav-menu li:nth-of-type(4) {
    animation-delay: 1s;
}

nav.active .responsive-nav-menu li:nth-of-type(5) {
    animation-delay: 1.2s;
}

nav.active .responsive-nav-menu li:nth-of-type(6) {
    animation-delay: 1.3s;
}


/*end header*/