/* glow*/
@keyframes glow {
    to {
        text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #e41f28, 0 0 16px #e41f28, 0 0 20px #e41f28, 0 0 24px #e41f28, 0 0 28px #e41f28;
        color: #fff
    }
}

@-webkit-keyframes glow {
    to {
        text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #e41f28, 0 0 16px #e41f28, 0 0 20px #e41f28, 0 0 24px #e41f28, 0 0 28px #e41f28;
        color: #fff
    }
}


/*textclip*/
@-webkit-keyframes textclip {
    to {
        background-position: -200% center;
    }
}

@keyframes textclip {
    to {
        background-position: -200% center;
    }
}

/*rotate-effect*/

@keyframes rotate-effect {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

}

@-webkit-keyframes rotate-effect {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

}


/*shine*/
@keyframes shine {
    to {
        background-position: -200% center;
    }
}

@-webkit-keyframes shine {
    to {
        background-position: -200% center;
    }
}