@media only screen and (max-width: 1200px) {
    .lg-center {
        text-align: center;
    }

    .about-img {
        height: 200px;
        max-width: 200px;
    }

    .news-img {
        border-radius: 20px;
        height: 250px;
    }

    .news-img:hover .btn-div {
        bottom: 17%;
    }
}


@media only screen and (max-width: 992px) {
    .md-center {
        text-align: center;
    }

    nav ul.list-inline>li>a {
        font-size: 17px;
        padding: 0 15px;
    }

    .services {
        background: #da353b;
        min-height: auto;
        margin: auto;
        padding-top: 50px;
    }

    .services-grid {
        margin-top: 0 !important;
        margin-bottom: 30px;
    }

    .slider-img {
        height: 460px;
    }

    .slider-caption {
        top: 20%;
    }


    .submenu {
        min-width: 150px;
    }

    .contact-social-grid {
        border-radius: 0
    }

    .ReloadBtn,
    #CaptchaImageCode {
        display: block;
        text-align: center;
    }

    .team-page-header {
        height: 200px;
    }


    .latest-news {
        max-width: 100%;
    }

    .footer-logo p {
        max-width: inherit;
    }
}



@media only screen and (max-width: 768px) {
    .sm-center {
        text-align: center;
    }

    .main-language-grid {
        order: 2;
        margin-top: 20px;

    }


    header .container:before,
    header .container::after {
        content: none
    }

    .logo-grid::before {
        content: "";
        position: absolute;
        bottom: -20px;
        height: 1px;
        background: #e41f28;
        width: 100%;
        right: 0;
    }

    .logo-grid {
        order: 1;
    }

    .main-search-grid {
        order: 3;
        margin-top: 20px;

    }

    nav ul.list-inline>li>a {
        font-size: 15px;
        padding: 0 7px;
    }

    header {
        margin-bottom: 0px;
    }

    .submenu {
        min-width: 103px;
    }

    .submenu li a {
        font-size: 14px;
    }

    .about {
        margin-top: 0;
        padding: 0 0px 90px;
    }

    .pageswithslider {
        margin-top: 0;
        padding: 50px 0px 20px;
    }

    .news-caption h3 {
        margin: -7px auto 0px;
        font-size: 19px;
    }

    .news-img {
        height: 200px;
    }

    .news-img:hover .news-caption {
        top: 22%;
    }

    .news-img:hover .btn-div {
        bottom: 10%;
    }

    .about {
        padding-bottom: 40px;
    }

    .news-right-grid p,
    .services-pg .news-right-grid p {
        height: auto;
        max-height: 180px;
    }


}

@media only screen and (max-width: 576px) {
    .xs-center {
        text-align: center;
    }


    .logo-grid::before {
        content: none
    }

    .main-phone {
        display: none;
    }

    .logo-grid {
        order: 2;
    }

    .main-search-grid .form-group {
        margin: auto;
    }

    .main-language-grid {
        margin-top: 0;
        padding-top: 0;
    }

    .menu-icon {
        display: inline-block;
    }

    .responsive-nav-menu {
        display: block;
    }

    nav {
        position: fixed;
        width: 250px;
        background: #fff;
        height: 100%;
        top: 0;
        z-index: 99;
        overflow-x: hidden;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }


    nav.active {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    nav.active ul li {
        -webkit-animation: fadeInUp .5s linear both;
        animation: fadeInUp .5s linear both;
    }

    nav.active .main-nav-menu li:nth-of-type(2) {
        animation-delay: .2s;
    }


    nav.active .main-nav-menu li:nth-of-type(3) {
        animation-delay: .3s;
    }



    nav.active .main-nav-menu li:nth-of-type(4) {
        animation-delay: .4s;
    }


    nav.active .main-nav-menu li:nth-of-type(5) {
        animation-delay: .5s;
    }


    nav.active .main-nav-menu li:nth-of-type(6) {
        animation-delay: .6s;
    }


    .main-stars {
        display: block;
    }


    .navbar-section {
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, .8);
        height: 100%;
        top: 0;
        z-index: 991;
        display: none;
    }



    nav>ul.list-inline>li {
        display: block;
        margin-bottom: 20px;
        height: auto;
    }

    nav>ul.list-inline>li>a {
        line-height: inherit
    }

    .responsive-logo {
        display: block;
    }

    .main-language {
        margin: 0
    }

    .logo-grid img {
        max-height: 50px;
    }

    .submenu {
        display: none;
    }

    .services-grid h3 {
        font-size: 14px;
        line-height: 23px;
    }

    .service-icon {
        height: 65px;
        width: 65px;
        line-height: 70px;
        font-size: 24px;
    }

    .services {
        padding-top: 40px;
    }

    .slider-img {
        height: 300px;
    }

    .slider-caption h2 {
        font-size: 23px;
        height: 24px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .slider-caption p {
        font-size: 15px;
        padding: 15px 15px;
        line-height: 28px;
    }

    .main-slider .owl-dots {
        bottom: 15px;
    }

    .about-text h2 {
        font-size: 25px;
        margin-bottom: 17px;
    }

    .custom-btn {
        min-width: inherit;
        line-height: 40px;
        height: 40px;
        font-size: 18px;
    }

    .about-text p {
        margin-bottom: 20px;
    }

    .news-grid {
        max-width: 300px;
        margin: auto;

    }

    .sec-title span {
        display: none;
    }

    .sec-title:before {
        display: none;
    }

    .sec-title:after {
        height: 100%;
        bottom: 0
    }

    .margin-index-div {
        padding-top: 0;
        padding-bottom: 30px;
    }

   

    .footer-title {
        margin-bottom: 20px;
    }

    .footer-list-grid .footer-list .list-unstyled li {
        display: inline-block;
    }

    .footer-list-grid .footer-list .list-unstyled li:after {
        content: "/";
        margin: auto 2px;
    }

    .footer-list-grid .footer-list .list-unstyled li:last-of-type:after {
        content: none
    }

    .footer-logo {
        border-bottom: 1px solid #f9c9cc;
        margin-bottom: 20px;
    }

    .contact-grid {
        border-top: 1px solid #f9c9cc;
        padding-top: 20px;
    }

    footer {
        padding-top: 15px;
    }

    .margin-div {
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .artist-pg {
        padding-top: 30px
    }

    .white-bg,
    .artist-pg h2 {
        margin-bottom: 20px;
    }

    .margin-bottom-div {
        padding-bottom: 20px;
    }

    .contact-form-grid {
        padding: 0 25px 20px;
    }

    .contact-social-grid {
        padding: 20px 20px
    }

    .contact-bg {
        margin-bottom: 20px;
    }

    .margin-top-div {
        padding-top: 25px;
    }

    .artist-form .form-group {
        margin-bottom: 20px;
    }

    .team-page-header h2 {
        left: 15px;
        right: 15px;
        margin: auto;
    }

    .team-img {
        height: 180px;
    }

    .team-grid figure figcaption {
        padding: 10px;
    }

    figure.effect-ming figcaption::before {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
    }

    figcaption div {
        padding: 10px 5px;
    }

    figure.effect-ming h2 {
        padding: 5px;
    }

    .page-header p {
        margin-top: 0
    }

    .news-left-grid .news-img {
        height: 210px;
    }

    .white-bg {
        padding: 30px 15px 0;
    }

    .sec-title{
        margin-bottom: 20px;
    }

    .sec-descripe{
        margin-bottom: 20px;

    }
}

@media only screen and (max-width: 450px) {


    .team-img {
        height: 115px;
    }

    .team-information {
        padding: 13px 10px 12px;
    }

    .team-information h3 {
        height: 20px;
        font-size: 17px;
    }

    .team-job {
        font-size: 14px;
        margin: 4px auto 10px;
    }

    .social-team a {
        width: 20px;
        height: 20px;
        line-height: 22px;
        margin: auto 1px;
        font-size: 11px;
    }

    figure.effect-ming h2 {
        font-size: 13px;
        max-height: 27px;
        margin: 8px 5px 6px;
    }

    figcaption div {
        padding: 5px;
        height: 50px;
        margin: 5px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    figure.effect-ming p {
        line-height: 18px;
        font-size: 12px;
        max-height: inherit
    }


}


@media only screen and (min-width: 768px) {

    .show-details-pg .news-grid {
        margin-bottom: 30px;
    }

    .entertainment-pg .news-img {
        height: 227px;
        margin-bottom: 40px;
    }

    .entertainment-pg .news-caption h3 {
        height: 19px;
        font-size: 18px;
    }

    .entertainment-pg .news-caption p {
        font-size: 14px;
        height: 24px;
        line-height: 20px;
    }


    .entertainment-pg .news-img:hover .btn-div {
        bottom: 15%;
    }
}